<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Quản lý sản phẩm 2</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    </head>
    <body>
        <h1 class="text-center text-success" style="padding-top: 10px">
            {% if request.args.get('product_id') %}CẬP NHẬT{% else %}THÊM{% endif %} SẢN PHẨM
        </h1>
        <div class="container">
            {% if err %}
            <div class="alert alert-danger">
                {{ err }}
            </div>
            {% endif %}
            <form method="post">
                <div class="form-group">
                    <label>Tên sản phẩm</label>
                    <input type="text" name="name" class="form-control" value="{{ product.name }}" />
                </div>
                <div class="form-group">
                    <label>Giá sản phẩm</label>
                    <input type="number" value="{{ product.price }}" name="price" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Ảnh</label>
                    <input type="text" value="{{ product.images }}" name="images" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Mô tả sản phẩm</label>
                    <textarea class="form-control" name="description">{{ product.description }}</textarea>
                </div>
                <div class="form-group">
                    <label>Danh mục</label>
                    <select class="form-control" name="category_id">
                        {% for cat in categories %}
                        <option value="{{ cat.id }}" {% if cat.id==product.category_id %} selected {% endif %}>{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="{% if request.args.get('product_id') %}CẬP NHẬT{%else%}THÊM{% endif %} SẢN PHẨM" class="btn btn-danger" />
                </div>
            </form>
            <div class="return text-center" style="display:">
                <p style="font-size: 25px; "><a href="/products" style="text-decoration: none">Quay lại</a></p>
            </div>
            </div>
    </body>
</html>